.title {
    font-weight: 500;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}

.group-description-wrapper {
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
}

.topic-name {
    font-size: 16px;
}

.partition {
    p{
        display: inline;
    }
}

.partition-name {
    width: 30%;
    margin-right: 20px;
}

.partition-group-offset {
    width: 30%;
    margin-right: 20px;
}

.partition-topic-offset {
    width: 30%;
    margin-right: 20px;
}
