@import "~src/styles";

.side-nav {
    background-color: $primary900;
    height: 100%;
    text-align: center;

    .logo {
        width: 100px;
        margin-top: 20px;
    }

    .list {
        margin-top: 10px;
    }

    .mat-list-item {
        font-size: 14px;        
        font-weight: 400;        
        color: $white;
        text-transform: uppercase;

        &:hover {
            background-color: darken($primary900, 4%);
        }

        .mat-list-item-content {
            padding: 4px 24px;
        }
    }

    .active-nav-item {
        color: $black;
        background-color: $accent;
        font-weight: 600;

        &:hover, &:active, &:focus {
            background-color: $accent;
        }
    }   
}

.mat-drawer-container {
    background-color: #E3F2FD;
}