/* COLORS */
// BASE
$white          : #FFFFFF;
$black          : #333333;

// LIGHT THEME
$primary50      : #E3F2FD;
$primary900     : #0D47A1;

$accent         : #FBC02D;
$dark-blue      : #0099cc;
$light-blue     : #cbf1ff;




/* TYPOGRAPHY */
$font: 'Inter', sans-serif;
$font-size-normal: 13px;